cask "project-env-cli" do
  version "{{VERSION}}"
  sha256 "{{SHA256_MACOS_AARCH64}}"

  url "https://github.com/Project-Env/project-env-cli/releases/download/v#{version}/cli-#{version}-macos-aarch64.tar.gz"
  name "project-env-cli"
  desc "Project-Env CLI"
  homepage "https://project-env.github.io/"

  depends_on arch: :arm64

  binary "project-env-cli"
end
