# IntelliJ IDEA specific files
*.iml
.idea

# Contains all project specific toolsConfiguration
.toolsConfiguration

# Output of Maven
target
.flattened-pom.xml

# Generated profile from Project-Env
.project-env

# Tools store from Project-Env
.tools