name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            gu_executable_ext: .cmd
          - os: ubuntu-latest
            sonar_profile: -Psonar
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ matrix.os == 'windows-latest'}}
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - uses: DeLaGuardo/setup-graalvm@3.1
        with:
          graalvm-version: '21.1.0.java11'
      - run: gu${{ matrix.gu_executable_ext }} install native-image
      - uses: stCarolas/setup-maven@v4
        with:
          maven-version: 3.6.3
      - run: mvn -B ${{ matrix.sonar_profile }} -Pnative-image verify
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}